/* 



Baby Blue: #A7C7E7
Black: #4F4F4F 
White: #FFFFFF
Red: #F4A7A7 

Baby Blue: #5EC3F2
Black: #000000
White: #FFFFFF
Red: #FF3333

Baby Blue: #7DB9E8
Black: #2A2A2A
White: #F1F1F1
Red: #D26D6D

Baby Blue: #A3C9D7
Black: #333333
White: #FAF9F9
Red: #8C3B3B

Baby Blue: #B0D9F3
Black: #4F4F4F
White: #FFFFFF
Red: #F1A7A7

*/

:root {
  --color-blue: #89cff0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff3333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  border-left: 20px solid var(--color-black);
  border-right: 20px solid var(--color-black);
  background: linear-gradient(135deg, #e4f3fd 5%, #c8e7fa 20%, var(--color-blue) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.card {
  border: 2px solid var(--color-black);
  width: 40%;
  height: 60%;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("./imgs/flower-pattern.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.8);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-red);
  background-color: rgb(244, 167, 167, 0.7);
  background-color: rgba(255, 51, 51, 0.6);
}

.btn {
  font-size: 2.4rem;
  color: var(--color-black);
  padding: 1rem 3rem;
  background-color: var(--color-blue);
  border: 1px solid var(--color-black);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.8);
  transition: all 0.3s;
  z-index: 999;
}

.btn:hover {
  background-color: #a7dcfa;
  transform: translateY(-3px);
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
}

.btn:active {
  background-color: #61b2e6;
  transform: translateY(5px);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 1);
}

.white-cat,
.black-cat {
  position: absolute;
  width: 33px;
  height: 33px;
  z-index: 100;
  background-repeat: no-repeat;
  transition: all 10s;
}

.white-cat {
  bottom: 100px;
  left: 40px;
  background-image: url("./imgs/cat-frames/white-cat-sleeping.png");
  background-repeat: no-repeat;
}

.black-cat {
  bottom: 90px;
  left: 20px;
  background-image: url("./imgs/cat-frames/black-cat-sleeping.png");
  background-repeat: no-repeat;
}

.white-cat::after,
.black-cat::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  bottom: 5px;
  left: 20px;
  transform: translateX(-50%);
  z-index: 99;
  filter: blur(3px);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.white-cat::before,
.black-cat::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  bottom: 5px;
  right: 0;
  transform: translateX(-50%);
  z-index: 99;
  filter: blur(3px);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.white-cat-shadow-horizontal::after,
.white-cat-shadow-vertical::before,
.black-cat-shadow-horizontal::after,
.black-cat-shadow-vertical::before {
  opacity: 1;
}

/* White Cat Frames */
@keyframes white-cat-right-frames {
  0% {
    background-image: url("./imgs/cat-frames/white-cat-right-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/white-cat-right-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/white-cat-right-3.png");
  }
}

@keyframes white-cat-left-frames {
  0% {
    background-image: url("./imgs/cat-frames/white-cat-left-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/white-cat-left-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/white-cat-left-3.png");
  }
}

@keyframes white-cat-up-frames {
  0% {
    background-image: url("./imgs/cat-frames/white-cat-up-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/white-cat-up-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/white-cat-up-3.png");
  }
}

@keyframes white-cat-down-frames {
  0% {
    background-image: url("./imgs/cat-frames/white-cat-down-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/white-cat-down-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/white-cat-down-3.png");
  }
}
/* Black Cat Frames */
@keyframes black-cat-right-frames {
  0% {
    background-image: url("./imgs/cat-frames/black-cat-right-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/black-cat-right-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/black-cat-right-3.png");
  }
}

@keyframes black-cat-left-frames {
  0% {
    background-image: url("./imgs/cat-frames/black-cat-left-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/black-cat-left-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/black-cat-left-3.png");
  }
}

@keyframes black-cat-up-frames {
  0% {
    background-image: url("./imgs/cat-frames/black-cat-up-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/black-cat-up-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/black-cat-up-3.png");
  }
}

@keyframes black-cat-down-frames {
  0% {
    background-image: url("./imgs/cat-frames/black-cat-down-1.png");
  }
  50% {
    background-image: url("./imgs/cat-frames/black-cat-down-2.png");
  }
  100% {
    background-image: url("./imgs/cat-frames/black-cat-down-3.png");
  }
}
